<div class="ui markmore modal">
                  <i class="close icon"></i>
                  <div class="header">
                    Stream Information:-
                  </div>
                  <div class="content">
                    <div class="description">
                  <ul>
                    <li> <h4>KERALA HSC</h4>
                        <ul>
                          <li>Part A – Part I English</li>
                          <li>Part B – Part II Language</li>
                          <li>Part C – Part III On Stream Basis (Science, Arts/Humanities, Commerce)</li>
                          <b><i>&emsp;&emsp;&emsp;&emsp;Note:  Includes options for Technical HSC as well.</i></b> 
                        </ul>
                    </li>
                    <li><h4>KERALA VHSE</h4>
                      <ul>
                        <li>Part A – English Part A – Part I English</li>
                        <li>Part B – Part II GFC</li>
                        <li> Part C – Part III VOCATIONAL THEORY - On Branch Basis</li>
                        <li> PLEASE ENTER ONLY MARKS UNDER VOCATIONAL THEORY (VT) out of 200
                          <ul>
                            <li>List of vocational branches available on the drop down.  Choose 

appropriate Branch name in which your vocational theory paper falls.</li>
                          </ul>
                        </li>
                        <li>Part D – Part IV On Stream Basis (Science, Arts/Humanities, Commerce)</li>
                        <li>Part E – Part V Additional Subject (Mathematics only for Science stream)
                        <ul>
                          <li>Total Marks = Part A + Part B + Part C+ Part D</li>
                          <li>Part E, Vocational Practical and IE will not be considered for Total Marks.</li>
                          <li>No other Branch has any weightage.</li>
                          <li>Part D is equivalent to Part III of Kerala HSE</li>
                          <li>In the case of VHSE candidates for admissions to BCom/BBA/BTHM

programmes and all other programmes that come under Commerce 

and Management faculty, the index marks shall be arrived at by 

taking the marks of all the subjects except that of the marks of 

Vocational practicals and Internship Evaluation. (U.O. No. 2422/2015 

dated : 11.03.2015).</li>
                        <li>In the case of VHSE candidates for admissions to BA

programmes, index marks shall be arrived at by taking the 

marks of all the papers except that of Vocational practicals and 

Internship Evaluation. (U.O. No. 2422/2015 dated : 11.03.2015).</li>

                        </ul>
                        </li>

                      </ul>
                    </li>
                    <li><h4>CBSE</h4>
                      <ul>
                        <li>Part B – Language (If applicable)</li><li>Part C – On Stream Basis (Science, Arts/Humanities, Commerce, General)</li>
                        <li>Part D – Additional Subjects (If applicable)</li>
                      </ul>
                    </li>

                    <li><h4>ICS</h4>
                      <ul>
                        <li>Part A – English</li>
                        <li>Part B – Language (If applicable)</li>
                        <li>Part C – On Stream Basis (Science, Arts/Humanities, Commerce, General)</li>
                        <li>Part D – Additional Subjects (If applicable)</li>
                      </ul>
                    </li>
                    <li><h4>Tamil HSC</h4>
                      <ul>
                        <li>Part A – Part I English</li>
                        <li>Part B – Part II Language</li>
                        <li>Part C – Part III On Stream Basis (Science, Arts/Humanities, Commerce)</li>
                        <b><i>&emsp;&emsp;&emsp;&emsp; Note:  Candidates who have passed under Private study shall not be admitted (U.O.No.GAI/A1/5062/2002 dated 07.07.2005).</i></b>
                      </ul>
                    </li>
                    <li><H4>Karnataka PUC</H4></li>
                      <ul>
                        <li>Part A – Part I English</li>
                        <li>Part B – Part II Language</li>
                        <li>Part C – Part III On Stream Basis (Science, Arts/Humanities, Commerce)</li>
                      </ul>  
                        <li><h4>NIOS</h4></li>
                          <ul>
                            <li>Part A – English</li>
                            <li>Part B – Language (If applicable)</li>
                            <li>Part C – On Stream Basis (Science, Arts/Humanities, Commerce)</li>
                            <li>Part D – Additional Subjects (If applicable)</li>
                          </ul>
                    </ul>
                    <b><i>Note: Please forward a copy of your mark sheet at  admission@mesmampadadmission.com if any subject in your mark sheet is not listed under the appropriate Board and Stream selection.</i></b>
</div>
</div>
        <div class="actions">
        <div class="ui positive right labeled icon button">
              Ok
              <i class="checkmark icon"></i>
            </div>
        </div>
</div>