<textarea class="form-control" rows="17" disabled>
 INSTRUCTIONS

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

1. STAGE 1 (Personal Information):-

Step 1 :- Personal

Step 2 :- Address

Step 3:- Parent

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

# All the entries in the form shall be filled in as per the records in the

documents.

# On saving the form, the applicant shall be able to view his profile and can edit

all the details.

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -

2. STAGE 2 ( Qualifying Examination/ Application Fee):-

Step 1 :- Weightages

Step 2:- Marks

Step 3:- Choices 

Step 4:- Payment 

-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --

# The details of the qualifying examinations are to be entered correctly by the

applicant.

# Any mismatch/false information in the qualifying examination details shall

result in cancellation of the application without any prior notice.

# After the entry of the Qualifying examinations and the courses sought for

admission, the applicant shall remit the application and processing fee
  </textarea>
