%header.ui.inverted.menu.head_mod
  %a.item{id: "menu_btn"}
    %i.list.icon
  %a.item
    %strong.logo
      = image_tag "campex.jpg"
  %a.item{:href => "http://www.mesmampad.org/"}
    %strong.logo
      MES MAMPAD ADMISSION PORTAL

  .right.menu
    .item
      Email: mesmampadadmission@gmail.com
    .item
      Call: +91 9656 223366
    %a.item{:href => auth_logout_path, "data-method" => "delete"}
      %i.sign.out.icon
      Sign out
